src/__pycache__/*
index-tickers-original/*
figure_1a.png
lognormal.py
monte-carlo-save.py
random_downloader.py
reader.py
stock_index/*
stock_index_selected/*
stock_evolution/*
stock_evolution_selected_years/*
stock_evolution_selected/*
data/.gitignore
histogram.csv
lognorm.csv
stock-index.code-workspace
data_example/*
download_data_full/*
src/analyzer_yahoo.py
QQPLOT_compare/
geometrical_brownian_motion/
.ipynb_checkpoints/
fig/
#results/
results_8years_2006-2013/
results_8years_2014-2021/
results_16years_2006-2021/
results_16years_2006-2021_survived_only/
