src/__pycache__
index-tickers-original/
figure_1a.png
lognormal.py
monte-carlo-save.py
random_downloader.py
reader.py
stock_index/
stock_index_selected/
stock_evolution/
stock_evolution_selected_years/
stock_evolution_selected/
data/.gitignore
histogram.csv
lognorm.csv
results/
stock-index.code-workspace
