[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.4.2"
pyarrow = "==8.0.0"
fastparquet = "==0.8.1"
matplotlib = "*"
numpy = "==1.21.5"
scipy = "==1.7.3"
yahoo-fin = "~=0.8.9.1"
alive-progress = "~=2.4.1"
dvc = {extras = ["gdrive"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
